

*{box-sizing: border-box;
    overflow: hidden;
    font-weight:bold;}

html,body{
    margin:0;
    padding:0;

}

a{
    text-decoration: none;
    color:rgb(187, 148, 59);
}
a:visited{
    text-decoration: none;
    color:rgb(187, 148, 59);

}
.button_div{
    
    position: relative;;
    left:0;
    top:100;
    margin: 0 auto;
    width:60%;
    
    
}


.bt {
    background:#333333;
    border:2px solid rgb(134, 110, 53);;
    font-size:1.5rem;
    width:25%;
    height:7.5%;
    float:left;
    text-align:center;
    padding:2.5% 0;
    font-weight:bold;
    
}

.bt:hover {
    background:rgb(170, 144, 83);
    color:#333333;;
    transition: all 0.4s ease-out 0s;
    transform-origin : middle top;
    
}
#movie_poster_div{
    position: relative;
    top:130;
    left:0;
    
    width:100%;
    
}
.movie_poster{
    position: relative;
    left:0;
    top:0;
    width:35%;
    height:75%;
    border:5px solid rgb(116, 98, 56);
    margin-left:10%;
    float:left;
    background:rgb(58, 58, 58);

}
.movie_poster img {
    width:100%;
    height:75%;
}
h2{
    margin-left:20;
    color:rgb(221, 182, 96);
    font-size:2rem;
}
.poster_bt{
    width:35%;
    height:7%;
    margin-left:9%;
    background:rgb(102, 102, 102);
    border:0;
    font-size:1.5rem;
    border:2px solid rgb(116, 98, 56);
    border-radius: 10px;
}
.poster_bt:hover{
    background:rgb(172, 172, 172);
    color:rgb(83, 83, 83);
    transition: all 0.4s ease-out 0s;
    transform-origin : middle top;
}